<%- include('./blocks/head')%>
<%- include('./blocks/nav')%>
<div id="snackbar" class="" >
    <div class="noti-info"><b id="noti-owner">Khoa công nghê thông tin</b>  - <span id="noti-time">Mới đây</span></div>
    <span id ="noti-tittle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam deleniti ipsum itaque iure iusto molestias nisi nulla numquam odio optio recusandae reiciendis repellendus repudiandae, ullam velit voluptas voluptatem voluptatibus!</span>
</div>
<div class="page-content">
<%-include('./pages/'+page) %>
</div>
<%- include('./blocks/foot')%>

