<div class="select-notification-holder">
    <select id="selectNotification" class="select-notification">
        <option value="All" selected>Tất cả thông báo</option>
        <option value="Phòng Công tác học sinh sinh viên">Phòng Công tác học sinh sinh viên</option>
        <option value="Phòng Đại học">Phòng Đại học</option>
        <option value="Phòng Sau đại học">Phòng Sau đại học</option>
        <option value="Phòng điện toán và máy tính">Phòng điện toán và máy tính</option>
        <option value="Phòng khảo thí và kiểm định chất lượng">Phòng khảo thí và kiểm định chất lượng</option>
        <option value="Phòng tài chính">Phòng tài chính</option>
        <option value="TDT Creative Language Center">TDT Creative Language Center</option>
        <option value="Trung tâm tin học">Trung tâm tin học</option>
        <option value="Trung tâm đào tạo phát triển xã hội">Trung tâm đào tạo phát triển xã hội</option>
        <option value="Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ">Trung tâm phát triển Khoa học quản
            lý và Ứng dụng công nghệ
        </option>
        <option value="Trung tâm hợp tác doanh nghiệp và cựu sinh viên">Trung tâm hợp tác doanh nghiệp và cựu sinh
            viên
        </option>
        <option value="Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa">Trung tâm ngoại ngữ - tin học – bồi dưỡng văn
            hóa
        </option>
        <option value="Viện chính sách kinh tế và kinh doanh">Viện chính sách kinh tế và kinh doanh</option>
        <option value="Khoa Luật">Khoa Luật</option>
        <option value="Khoa Mỹ thuật công nghiệp">Khoa Mỹ thuật công nghiệp</option>
        <option value="Khoa Điện – Điện tử">Khoa Điện – Điện tử</option>
        <option value="Khoa Công nghệ thông tin">Khoa Công nghệ thông tin</option>
        <option value="Khoa Quản trị kinh doanh">Khoa Quản trị kinh doanh</option>
        <option value="Khoa Môi trường và bảo hộ lao động">Khoa Môi trường và bảo hộ lao động</option>
        <option value="Khoa Lao động công đoàn">Khoa Lao động công đoàn</option>
        <option value="Khoa Tài chính ngân hàng">Khoa Tài chính ngân hàng</option>
        <option value="Khoa giáo dục quốc tế">Khoa giáo dục quốc tế</option>
    </select>
</div>

<div id="pagination-container"></div>
<div id="notificationContainer" class="notification-container">
</div>
