<div class="container add-user-container">
    <h2>Thay đổi mật khẩu</h2>
    <div class="add-user-form">
        <div class="callout callout-danger hide">
            <h4>Mật khẩu cũ không đúng !</h4>
        </div>

        <form id="formChangePassword">
            <input type="password" name="txtCOPassword" id="txtCOPassword" placeholder="Nhập mật khẩu cũ">
            <input type="password" name="txtCNPassword" id="txtCNPassword" placeholder="Nhập mật khẩu mới">
            <input type="password" name="txtCRPassword" id="txtCRPassword" placeholder="Nhập lại mật khẩu mới">

            <button class="btn-submit" type="submit" id="btnChangePassword">Cập nhật</button>
        </form>
    </div>
</div>