<div class="container detail-notification-container">
    <div class="notification-head">
        <h2><%- data.Tittle%></h2>
        <div class="notification-from">
            <span><%- data.For%> - <%- date%> </span>
        </div>
    </div>
    <div class="notification-content">
        <%- data.content%>
    </div>
</div>